ul {
    list-style-type: none;
    margin: 0;
    padding: 0;    
    background-color: #333;
    position: fixed;
    width: 20%;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    text-transform: uppercase;    
  }
  
 li a:hover {
    background-color: #111;
  }
 
  body {
    background-color: rgb(0, 92, 184);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.middle {
  margin-left:20%;
  padding: 1px 16px;
  text-align: center;
}

.description {
    margin: 100px;
    padding: 30px;
    background-color: #333;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 70px;
}

.graph {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  
}

.data {
  text-align: center;
  font-size: 18px;
  text-decoration: underline;
}

.button {
  background-color: #272f53;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
  font-family: 'Poppins', sans-serif;
  width: 170px;
}

.button:hover {
  background-color: #111;
}

.visdescription {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  padding: 30px;
  background-color: #333;
  text-align: center;
}